.roundbox{
    text-align: center;
    padding: 15px;
    font-family: 'space mono', sans-serif;
    border-radius: 5px;
    background-color: #cc1e2c;
    width: fit-content;
    height: fit-content;
    font-size: larger;
    color: white;
}

.roundboxTitle{
    text-align: center;
    padding: 15px;
    font-family: 'space mono', sans-serif;
    border-radius: 5px;
    background-color: #741630;
    color: white;
    width: 2;
    height: 2;
    font-size: larger;
}

.container{
    display: flex;
    justify-content: space-between;
}

h1{
    text-align: center;
    font-family: 'space mono', sans-serif;
    margin: 0 auto;   
    color: white;
}

h2{
    text-align: center;
    font-family: 'space mono', sans-serif;
    color: white;
}

h3{
    text-align: center;
    font-family: 'space mono', sans-serif;
    color: white;
}

img{
    max-width: 700px;
    border-radius: 30px;
    padding: 15px;
}

.bg{
    background-color: #241721;
}

html, body {
  margin: 0;
  padding: 0;
}